extends layout

block content
  p University of Guelph Graduate with a curosity for technology, and programming. This is my first website that I've made since highschool, I'm just node.js with express, stylus, and jade. As time goes on I hope to continually work on this site in my spare time, and make occational improvements.
