extends layout

block content
  p Welcome to #{title}
  p The main things that we should do to renovate this site are:
    ul
      li Add an about page
      li Add a tweet button at the bottom of the page
      li Pictures, Pictures, Pictures!!!
      li Links to linked in etc...
      li Fancy java script stuff?
