doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#sidebar 
      ul#sidebarList
         li: a(href='/') Home
         li: a(href='/about') About
         li: a(href='/asdf') Example 
    div#mainContent
      div#title
        h1= title
      block content
