doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#sidebar 
      ul
         li: a(href='/') home
         li: a(href='/about') about
    div#mainContent
      block content
