body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-image: url(/images/hexabump.png)
  color: white - 9% 

#title
  background green + 10%
  width: 100%

#sidebar
  width: 100px 
  float: left
  margin-top: 50px
  padding: 0
  diplay: block

#sidebarList
  list-style-type:none
  font-size: 18px

#sidebarList.a
  display: block
  width: 60px
  text-decoration: none

a:link
  color:green + 95%
    
a:visited
   color: green + 10% 

a:hover 
   color: green - 10%
   text-decoration: underline 

#mainContent
  margin-left: 150px
  width: 80%

h1 
  padding 10px
