h1 
  border 3px solid
  background green + 10%
  padding: 5px
body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-image: url(/images/hexabump.png)
  color: white - 9% 
a
  color: #00B7FF
