body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/hexabump.png");
  color: #e8e8e8;
}
#sidebar {
  float: left;
  margin-top: 60px;
  padding: 0;
  width: 60px;
  diplay: block;
}
li {
  list-style-type: none;
  margin-left: 0;
}
a {
  display: block;
  width: 60px;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #b3b3b3;
}
a:hover {
  color: #00a600;
  text-decoration: underline;
}
#mainContent {
  margin-top: 20px;
  margin-left: 150px;
}
h1 {
  border: 3px solid;
  background: #00a600;
  padding: 5px;
}
