h1 {
  border: 3px solid;
  background: #00a600;
  padding: 5px;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/hexabump.png");
  color: #e8e8e8;
}
a {
  color: #00b7ff;
}
