body
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif
  background-image: url(/images/hexabump.png)
  color: white - 9% 

#title
  background green + 10%
  width: 100%

#sidebar
  width: 150px 
  float: left
  padding: 0
  diplay: block
  img 
    width: 175px

#sidebarList
  list-style-type:none
  font-size: 25px
  a
    display: block
    margin: 10px
    text-decoration: none

a:link
  color:green + 95%
    
a:visited
   color: green + 10% 

a:hover 
   color: green - 10%
   text-decoration: underline 

#mainContent
  margin-left: 200px

h1 
  padding 10px

#socialMain
  ul
    list-style-type: none;
    li
      margin: 0.5em;

#footer 
  width: 150px;
  margin: 10px;
  diplay: block;
  text-align: center;

