body {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/hexabump.png");
  color: #e8e8e8;
}
#title {
  background: #00a600;
  width: 100%;
}
#sidebar {
  width: 150px;
  float: left;
  padding: 0;
  diplay: block;
}
#sidebar img {
  width: 175px;
}
#sidebarList {
  list-style-type: none;
  font-size: 25px;
}
#sidebarList a {
  display: block;
  margin: 10px;
  text-decoration: none;
}
a:link {
  color: #ecffec;
}
a:visited {
  color: #00a600;
}
a:hover {
  color: #007300;
  text-decoration: underline;
}
#mainContent {
  margin-left: 200px;
}
h1 {
  padding: 10px;
}
#socialMain ul {
  list-style-type: none;
}
#socialMain ul li {
  margin: 0.5em;
}
#footer {
  width: 150px;
  margin: 10px;
  diplay: block;
  text-align: center;
}
